h1.titulos{
				color: #156CEF;
				text-transform: uppercase;
				background-color: #FCFF00;
		  }

mark	{
			background-color: #FF00EA;
		}

.margen{
		border-right-color: #0B10E3;
		border-right-style: dotted;
		color:#09D2F0;
		border: double; 
		}

.david{
	cursor: pointer;
}